// Animated Box //

// .container-ongoing {
//   width: 30%;
//   background: #f7f7f7;
//   border-radius: 10px;

//   .inner-ongoing {
//     background: #ffb5b5;
//     padding: 1em;
//     border-radius: 10px;
//     width: 100%;
//     clip-path: circle(10% at 0% 0%);
//     transition: clip-path 0.5s ease-in-out;

//     p {
//       color: white;
//       margin: 0;
//     }
//   }

//   &:hover .inner-ongoing {
//     clip-path: circle(75%);
//   }
// }

// Animated Circle //

.inner-ongoing {
  background: #ffb5b5;
  padding: 1em;
  border-radius: 10px;
  margin-left: 430px;
  width: 500px;
  text-align: center;
  clip-path: circle(10% at 90% 20%);
  transition: all 0.5s ease-in-out;
  cursor: pointer;

  &:hover {
    clip-path: circle(75%);
    background: #407088;
  }

  span {
    float: right;
    color: white;
    font-weight: bold;
    font-size: 20pt;
    transition: color 0.5s;
    position: relative;
    margin-right: 6.5%;
    margin-top: 2.5%;
  }

  &:hover span {
    color: rgba(255, 255, 255, 0);
    transition: 0.1s;
  }

  p {
    color: rgba(255, 255, 255, 0);
    margin: 0;
  }

  &:hover p {
    color: white;
  }
}
